<mat-card class="example-card review">
  <mat-card-header class="example-card review-title">
    <mat-card-title>WRITE A REVIEW</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form class="example-form">
            <p style="text-align: left;margin: 20px;"><span style="color: red;">*</span> Indicates a required field<br><span style="color: red;">*</span> Score:</p>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Use your name" [(ngModel)]="username" name="username" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Review" [(ngModel)]="review" name="review" required>
            </mat-form-field>
            <section class="review-section"> 
              <p>What size do you normally wear?</p>
              <span class="review-ul">
                <li><mat-checkbox class="review-margin" [(ngModel)]="sSmall" name="sSmall">Small</mat-checkbox></li>
                <li><mat-checkbox class="review-margin" [(ngModel)]="sMedium" name="sMedium">Medium</mat-checkbox></li>
                <li><mat-checkbox class="review-margin" [(ngModel)]="sLarge" name="sLarge">Large</mat-checkbox></li>
                <li><mat-checkbox class="review-margin" [(ngModel)]="sELarge" name="sELarge">E-Large</mat-checkbox></li>
              </span>
          </section>
      
          <section class="review-section"> 
            <p>What size did you purchase?</p>
              <span class="review-ul">
                <li><mat-checkbox class="review-margin" [(ngModel)]="pSmall" name="pSmall">Small</mat-checkbox></li>
                <li><mat-checkbox class="review-margin" [(ngModel)]="pMedium" name="pMedium" >Medium</mat-checkbox></li>
                <li><mat-checkbox class="review-margin" [(ngModel)]="pLarge" name="pLarge">Large</mat-checkbox></li>
                <li><mat-checkbox class="review-margin" [(ngModel)]="pELarge" name="pELarge" >E-Large</mat-checkbox></li>
              </span>
        </section>
      
        <section class="review-section">
          <p>How did the product fit?</p>
          <span class="review-ul">
            <mat-radio-group [(ngModel)]="productFit">
              <li><mat-radio-button class="review-margin" value="small">They run small</mat-radio-button></li>
              <li><mat-radio-button class="review-margin" value="fix">True to size</mat-radio-button></li>
              <li><mat-radio-button class="review-margin" value="big">They run big</mat-radio-button></li>
           </mat-radio-group>
          </span>
        </section>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  
  <div *ngIf='showProgress' class='mt-5'>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-card-actions>
    <button mat-raised-button (click)="addReview()" color="primary">Add Review</button>
  </mat-card-actions>

<div *ngIf='alertFlag'>
  <app-alert [message]='alertMsg' [flag]='alertFlag' [count]='count'></app-alert>
</div>
</mat-card-content>
</mat-card>

