
<div class="home_text" >
  <p style="width: 60%; font-size:large;align-content: center;text-align: center;"><span style="color:blue">Dress as You Feel </span>Introduces you to our <span style="color:blue">Online Tailoring</span> for your Custom Made attires!
    We understand, nothing can beat the comfort and authenticity of a well-tailored garment to your specifications, and when its accessible Online at your fingertips what are you waiting for!  
    Browse our Custom Made Category to get a tailored Garment or a Dance Costume of your own design or ours if you like. The Choice is yours. Book an appointment or email us at moreinfo@dayf.co.in with your questions. It’s not Over yet.. We also offer our exclusive Ready Made and Semi Stitched collection for the ladies and the little girls. 
    Be it for your princesses, for the queen in you or to make someone feel like it!
    DAYF is here to make your imagination real.
    
    We deliver to all Major Locations across India for now and soon world-wide.
    </p>
    <img src="../../../assets/Iimg/Lady.png">
  </div>

  <div class="home_container">
    <div class = "category" >
      <img src="../../../assets/Iimg/IMG2.jpg" (click)="this.myfunction()">
      <p (click)="this.myfunction()">Item 1</p>
    </div>
    <div class = "category" >
      <img src="../../../assets/Iimg/IMG2.jpg" (click)="this.myfunction()">
      <p (click)="this.myfunction()">Item 1</p>
    </div>
    <div class = "category" >
      <img src="../../../assets/Iimg/IMG2.jpg" (click)="this.myfunction()">
      <p (click)="this.myfunction()">Item 1</p>
    </div>
    <div class = "category" >
      <img src="../../../assets/Iimg/IMG2.jpg" (click)="this.myfunction()">
      <p (click)="this.myfunction()">Item 1</p>
    </div>
  </div>
