<div class="home_container">
  <div class = "category" >
    <img src="../../../assets/Iimg/IMG2.jpg" (click)="this.myfunction()">
    <p style="text-align: center;" (click)="this.myfunction()">Item 1</p>
    <p style="color: cornflowerblue;">800</p>
  </div>
  <div class = "category" >
    <img src="../../../assets/Iimg/IMG2.jpg" (click)="this.myfunction()">
    <p (click)="this.myfunction()">Item 1</p>
  </div>
  <div class = "category" >
    <img src="../../../assets/Iimg/IMG2.jpg" (click)="this.myfunction()">
    <p (click)="this.myfunction()">Item 1</p>
  </div>
  <div class = "category" >
    <img src="../../../assets/Iimg/IMG2.jpg" (click)="this.myfunction()">
    <p (click)="this.myfunction()">Item 1</p>
  </div>
</div>