<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
<!-- Just an image -->
  <a class="navbar-brand" href="#">
    <img src="../assets/Logo.ico" width="120" height="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleClick()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngClass]="isOpen ? 'collapse navbar-collapse show':'collapse navbar-collapse' " id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">LOOKBOOK <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SAREES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SALWAR SUITES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LEHENGA CHOLI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">KURTIS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">GOWNS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">READY TO SHIP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SALE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">EXLUSIVE COLLECTION</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="/login" *ngIf="!service.loginResponce">LOGIN!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" *ngIf="service.loginResponce">LOGOUT!</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
</nav>